/* play.css */

body {
    margin: 0;
    background-color: #000000; /* Black background color */
    font-family: 'Arial', sans-serif; /* Choose a suitable font family */
    color: #ffffff; /* White text color */
  }
  
  .play-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .play-card {
    background-color: #16161672; /* Red background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

  .game {
    margin-bottom: 10px; /* Space between the game and back button */
  }
  
  .winbtn {
    margin-top: 10px; /* Add top margin to ensure space between the iframe and button */
    background-color: #525252; /* Button background color */
    color: #ffffff; /* White text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .winbtn:hover {
    background-color: #000000; /* Darker background on hover */
  }
  